/*Figure out the slider, change the scrollbar design*/

* {
    box-sizing: border-box;
}
.body {
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: -8px;
}
html {
    overflow: auto;
}
#main {
    display: flex;
    flex: 1;
    background-color: #2a475e;
    padding: 1em;
    position: relative;
}
#main > article {
    position: relative;
    flex: 1;
    order: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(190px * 4 + 20px * 3);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap as needed */
}
@media (max-width: 800px) {
    #main > article {
        width: 100%; /* Cards stack on smaller screens */
    }
}
/*Searcher*/
.searcher {
    background: #1b2838;
    order: 3;
    width: 25%;
}
.search-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 500px; /* Set the maximum height you desire */
    overflow-y: auto;
    background-color: #1b2838;
    color: white;
    z-index: 2;
    border-top: 1px solid #1b2838;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.show-more-item {
    padding: 10px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
}
.show-more-item.active {
    opacity: 1;
    pointer-events: auto;
}

.search-overlay.active {
    opacity: 1; /* Make the overlay fully visible when active */
    pointer-events: auto; /* Enable pointer events */
    background-color: #1b2838; /* Set to the desired background color or remove entirely */
    color: inherit; /* Use the parent element's text color */
    overflow-x: hidden;
    overflow-y: auto;
}

.search-overlay searchResults {
    display: inline-block;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    /* Optional: Set a specific width for each item */
    width: 150px;

    /* make the images centered in the overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
}

.searchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
    height: 200px; /* Adjust height as needed */
    background-color: #1b2838; /* Adjust as needed */
    color: white;
}

/* NAVBAR */
.navbar-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 100%; /* Take full height of the container */
    width: 470px;
}

.navbar {
    width: 100%;
    background-color: #000f18;
    color: white;
    text-align: center; /* Center the links horizontally */
}

.topNav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Adjust as needed */
    align-items: center; /* Vertically center items */
    margin: 0; /* Remove the default margin */
}

ul {
    padding: 0;
    overflow: hidden;
    background-color: #000f18;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Search Results */
.skinImage {
    width: 150px;
    height: auto;
    transition: 0.3s ease-out;
}
.skinImage:hover {
    transform: scale(1.05);
}
.imgElement {
    width: 50px;
    height: auto;
}
.selected {
    display: inline-block;
    border: 2px solid whitesmoke;
    padding: 5px;
}

/* CARD PICTURES */

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    transition: 0.5s ease-out;
}
.card-image:hover {
    transform: scale(1.05);
}

.large-card-image {
    width: 85%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    transition: 0.5s ease-out;
}
.large-card-image:hover {
    transform: scale(1.1);
}

.wear-container {
    position: relative;
}

.wear-slider {
    position: absolute;

    left: 0;
    width: 100%;
    z-index: 1;
}

.wear-text {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

/* SLIDER */
.float-slider {
    position: relative;
}

.float-slider input[type="range"] {
    /*HOW CAN THUMB COLOR CHANGE TO GOLD*/
    width: 100%;
}

.current-wear {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: black;
}

/* INPUT */

/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #fca311;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #fca311;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}

/*
CARD
*/
.card {
    width: 230px;
    height: 330px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    color: black;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 0.2em; /* Adjust this value to control the spacing */
    grid-template-rows: auto auto; /* Automatically adjust the rows based on content */
}

.card-button {
    transform: translate(-50%, 125%);
    text-align: center;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #b0c3d9;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
    font-size: 1.3em; /* Adjust the font size */
    font-weight: bold;
    margin-bottom: 0.2em; /* Adjust the margin */
}

.text-subtitle {
    font-size: 0.9em; /* Adjust the font size */
    margin-top: 0.2em; /* Adjust the margin */
}
/*Hover*/
.card:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 1);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

/* LARGE CARD */
.large-card-overlay {
    /* Styles for the overlay background */
    /* ... */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.2s ease-in-out;
}

.large-card-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.large-card-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.large-card-content {
    /* Styles for the card's content container */
    width: 350px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    overflow: visible;
}

.large-card-details {
    color: black;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 0.2em;
    grid-template-rows: auto auto;
}
.large-card-close {
    transform: translate(-50%, 50%);
    text-align: center;
    width: 60%;
    border-radius: 1rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.shop-button {
    text-align: center;
    width: 40%;
    border-radius: 1rem;
    border: none;
    background-color: #fca311;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 30%;
    top: 88%;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.shop-button:hover {
    background-color: hsl(30, 100%, 50%);
}

/* CHECK BOX */
.customCheckBoxHolder {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: red;
    border-radius: 0px;
    color: white;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
}

.customCheckBox:hover {
    background-color: darkred;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
}

.customCheckBox:hover .inner {
    transform: translateY(-2px);
}

/* Multiple Checkboxes can be chained together for a radio input */
.customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

.customCheckBoxInput {
    display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset,
        rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
        rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
}

.consumer-grade {
    background-color: var(--consumer-grade-color);
}
.consumer-grade:hover {
    background-color: hsl(220, 33%, 50%);
}

.industrial-grade {
    background-color: var(--industrial-grade-color);
}
.industrial-grade:hover {
    background-color: hsl(213, 60%, 45%);
}

.mil-spec-grade {
    background-color: var(--mil-spec-grade-color);
}
.mil-spec-grade:hover {
    background-color: hsl(229, 75%, 40%);
}

.restricted {
    background-color: var(--restricted-color);
}
.restricted:hover {
    background-color: hsl(266, 60%, 40%);
}

.classified {
    background-color: var(--classified-color);
}
.classified:hover {
    background-color: hsl(285, 60%, 40%);
}
.covert {
    background-color: var(--covert-color);
}
.covert:hover {
    background-color: hsl(0, 70%, 40%);
}

.contraband {
    background-color: var(--contraband-color);
}
.contraband:hover {
    background-color: hsl(51, 100%, 40%);
}

.extraordinary {
    background-color: var(--extraordinary-color);
}
.extraordinary:hover {
    background-color: hsl(51, 100%, 40%);
}

:root {
    --consumer-grade-color: #b0c3d9;
    --industrial-grade-color: #5e98d9;
    --mil-spec-grade-color: #4b69ff;
    --restricted-color: #8747ff;
    --classified-color: #d32ce6;
    --covert-color: #eb4b4b;
    --contraband-color: #ffd700;
    --extraordinary-color: #ffd700;
}
