/*Figure out the slider, change the scrollbar design*/

* {
    box-sizing: border-box;
    
}
.body {
    font-family: "Roboto", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: -8px;
}
html {
    overflow:auto;
}
#main {
    display: flex;
    flex: 1;
    background-color: #3a3f44;
    padding: 1em;
}
#main > article {
    flex: 1;
    order: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 690px;
    width: 75%;
    overflow: hidden;
}

.searcher {
    background: #1c1e22;
    order: 3;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 600px;
    height: 630px;
    width: 25%;
    padding: 1em;
}
header {
    height: 150px;
    background: #1c1e22;
    color: white;
}

.navbar {
    width: 1000px;
}

li a {
    float: left;
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffc970;
}

.active {
    background-color: #fca311;
}


.skinImage {
    width: 75px;
    height: auto;
}
.imgElement {
    width: 50px;
    height: auto;
}
.selected {
    display: inline-block;
    border: 2px solid whitesmoke;
    padding: 5px;
}


/* TABLE */

.styled-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid gray;
    margin: 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 50%;
}
.styled-table thead tr {
    background-color: #1c1e22;
    color: #ffffff;
    text-align: center;
    border-radius: 25%;
}
thead th:nth-child(1) {
    width: 20%;
}
thead th:nth-child(2) {
    width: 20%;
}
thead th:nth-child(3) {
    width: 15%;
}
thead th:nth-child(4) {
    width: 30%;
}

th,
td {
    padding: 20px;
}

tbody td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #34383d;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #2c3035;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 1;
    z-index: 1;
    width: 100%;
}

.wear-container {
    position: relative;
}

.wear-slider {
    position: absolute;

    left: 0;
    width: 100%;
    z-index: 1;
}

.wear-text {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

/* SLIDER */
.float-slider {
    position: relative;
}

.float-slider input[type="range"] { /*HOW CAN THUMB COLOR CHANGE TO GOLD*/
    width: 100%;
}





.current-wear {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: white;
}


/* INPUT */

/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #fca311;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #fca311;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}



/* COLORS: 
  Black: #000000
  Navy: #14213D
  Gold: #FCA311
  Light Gray: #E5E5E5
  White: #FFFFFF
  */
